*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.img-grid-1{
	display: grid;
	grid-template-columns: repeat( auto-fit , minmax( 10rem, 12rem));
	gap: 1rem;
	padding: 2rem;
	justify-content: center;
}
.img-grid-2{
	display: grid;
	grid-template-columns: repeat( auto-fill , minmax( 10rem, 1fr));
	gap: 1rem;
	padding: 2rem;
	justify-content: center;
}

.img-grid-2 > *, .img-grid-1 > *{
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: 0px 3px 7px rgba( 0 0 0 / .2);
}